#root {
  height: 100vh;
  width: 100vw;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
 display: grid;
    align-items: center;
    grid-auto-flow: row;
    grid-auto-rows: 10%; /* play with this to change height of the children, 50% will fill half */
    grid-template-columns: unset; /* do not set template columns and rows */
    grid-template-rows: unset;
    overflow: scroll;
}


.field-container{
display: flex;
}

.queries-container{
  margin: auto;
}

.file-upload-container{
  width: 100%;
}

.flex-item{
 flex-basis: 50%;
  flex-grow: 0;
}
