#root {
  height: 100vh;
  width: 100vw;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
 -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#root::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
  margin: 0;
}

.colaps-logo{
position:absolute;
left:5%;
top:1%;
height: 50px;
width: 50px;
}

.main-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.generic-scroll-container {
  height: 90%;
  width: 100%;
  display: grid;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-rows: 10%; /* play with this to change height of the children, 50% will fill half */
  grid-template-columns: unset; /* do not set template columns and rows */
  grid-template-rows: unset;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}


.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.download-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}


.download-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.download-setters-container{
  height: 90%;
    width: 100%;
display: flex;
  justify-content: center;
  align-items: center;
}

.download-setters-items-container{
  display: flex;
  flex-direction: column;
}

.download-setters-individual-items-container{
flex-basis: 100%;
  flex-grow: 0;
}

.my-builds-container-builds{
  height: 90%;
    width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-rows: 50%; /* play with this to change height of the children, 50% will fill half */
  grid-auto-columns: 25%;
  grid-template-columns: unset; /* do not set template columns and rows */
  grid-template-rows: unset;
  overflow: scroll;
 -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.my-builds-container-builds::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.my-builds-container-paper{
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  height: 90%;
  width: 90%;
  margin: 5%;
}

.my-builds-container-paper-icons{
  position:absolute;
  top: 0;
  right: 0;
}

.field-container {
  display: flex;
}

.field-container-generator-view{
  display: flex;
}

.flex-item {
  flex-basis: 50%;
  flex-grow: 0;
}

.generator-view-field-item-first{
  flex-basis: 50%;
  flex-grow: 0;
}

.generator-view-keywords-item-first{
 flex-basis: 50%;
  flex-grow: 0;
}

.generator-view-field-item{
  flex-basis: 49%;
  flex-grow: 0;
}

.generator-view-keywords-item{
 flex-basis: 49%;
  flex-grow: 0;
}

.generator-view-delete-icon-item{
 flex-basis: 2%;
  flex-grow: 0;
  display: flex;
  align-items: center;
}

.queries-container {
  margin: auto;
}

.file-upload-container {
  width: 100%;
}


